.no_border_input {
  position: relative;
  padding-bottom: 30px;
}
.no_border_input input {
  border: none;
  border-bottom: 3px solid #fff5;
  height: 30px;
  width: 100%;
  padding: 10px 0px 20px 35px;
  color: white;
  background-color: transparent;
}
.no_border_input:first-of-type {
  padding-top: 30px;
}
.no_border_input input::placeholder,
.no_border_input input {
  color: white;
  font-size: 20px;
  font-weight: 100;
  font-family: "Source Sans 3";
}
.no_border_input svg {
  position: absolute;
  left: 0;
  font-size: 1.1em;
  margin-left: 5px;
  filter: invert();
  opacity: 0.5;
}
#eye {
  left: 92%;
  cursor: pointer;
}
