.transparent_container {
  height: 100%;
  width: 100%;
  background-image: radial-gradient(#0006, #0006), url("../../../img/auth_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
