.no_border_input {
  position: relative;
  padding-bottom: 30px;
}
.no_border_input input {
  border: none;
  border-bottom: 3px solid #fff5;
  transition: border 0.2s ease;
  height: 30px;
  width: 100%;
  padding: 10px 0px 20px 35px;
  color: white;
  background-color: transparent;
}
.no_border_input:first-of-type {
  margin-top: 30px;
}
.no_border_input input::placeholder,
.no_border_input input {
  color: white;
  font-size: 20px;
  font-weight: 100;
  font-family: "Source Sans 3";
}
.no_border_input svg:not(.info_handle svg) {
  position: absolute;
  left: 0;
  font-size: 1.1em;
  margin-left: 5px;
  filter: invert();
  opacity: 0.5;
}
#eye {
  left: 92%;
  cursor: pointer;
}

/* INPUT INFORMATIONS */
.info_handle {
  position: absolute;
  right: -35px;
  top: -10px;
  cursor: pointer;
  color: white;
  padding: 10px;
}
.info_input {
  position: absolute;
  width: 100%;
  height: 30px;
  top: -5px;
  color: #111;
  font-size: 14px;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  line-height: 14px;
  font-weight: 400;
  border-radius: 5px;
}
.showing {
  display: flex;
  color: #111;
}
