/* Basic structure */
#ManagePet {
  display: grid;
  grid-template-columns: auto auto;
  margin: auto;
  position: relative;
  justify-content: center;
  left: -40px;
}
#right_side {
  padding: 30px;
}
#left_side {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 30px;
  padding-top: 50px;
  padding-right: 50px;
}

/* Elements */
#img_placeholder {
  box-sizing: content-box !important;
  background-color: #fff2;
  width: 200px;
  height: 200px;
  padding: 12px;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#img_placeholder svg {
  position: relative;
  top: -10px;
  color: white;
  font-size: 150px;
  opacity: 0.5;
}
#left_side > div > span {
  text-align: center;
  display: block;
  margin-top: 20px;
  max-width: 220px;
  word-break: keep-all;
}

/* Media queries */
@media screen and (max-width: 715px) {
  #ManagePet {
    grid-template-columns: auto;
    left: 0;
  }
}
